.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;

  &__list {
    @extend%list;
    margin-bottom: 70px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    @extend%link;
    color: $secondary-text-color;
  }
}
