.flexbox {
  background-color: #191c26;
  // background-image: url(../../images/bg-images/contacts-bg-1x.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;

  .container {
    display: flex;
  }
}
