.form {
  max-width: 560px;

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  &__label {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;

    transition: color 250ms linear, transform 250ms linear;

    .form__input:hover + &,
    .form__input:focus + &,
    .form__input:not(:placeholder-shown) + &,
    .form__input:not(:placeholder-shown) + & {
      color: $secondary-title-color;
      transform: translateY(-20px);
    }
  }

  &__input {
    height: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    color: $secondary-title-color;

    transition: border-color 250ms linear;

    .form__label &:hover,
    .form__label &:focus {
      border-color: $secondary-title-color;
    }

    &--name {
      width: 270px;
    }

    &--tel {
      width: 260px;
    }

    &--textarea {
      display: block;
      width: 560px;
      min-height: 76px;
      resize: none;
      margin-bottom: 44px;
    }
  }
}
