.hero {
  .container {
    padding-left: 215px;
    background-image: url(../images/bg-images/slider3-desktop-1125.jpg);
    background-repeat: no-repeat;
    background-position: left 115px center;
  }

  &__content {
    max-width: 500px;
    padding-top: 152px;
    padding-bottom: 206px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;

    color: $secondary-title-color;
  }

  &___text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;

    color: $secondary-text-color;
  }
}
