.main-contacts {
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;

  .section__title {
    color: $secondary-title-color;
    margin-bottom: 40px;
  }

  .section__label {
    color: $secondary-title-color;
  }

  &__time {
    margin: 0;
    font-size: 18px;
    line-height: 1.67;

    color: $secondary-text-color;
  }
}
