.main-button {
  display: block;
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $secondary-title-color;
  background-color: transparent;

  transition: background-color 250ms linear, color 250ms linear;

  &--black {
    color: $primary-title-color;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $secondary-title-color;
  }
}
