.main-contacts {
  width: calc((100% - 30px) / 2);
  padding-left: 100px;
  padding-right: 100px;

  background-image: url(../images/bg-images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;

  .section__title {
    color: $secondary-title-color;
    margin-bottom: 40px;
  }

  .section__label {
    color: $secondary-title-color;
  }

  &__time {
    margin: 0;
    font-size: 18px;
    line-height: 1.67;

    color: $secondary-text-color;
  }
}
