.header {
  background-color: teal;
  &__tel {
    @extend%link;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $secondary-title-color;
  }
}
