body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: $primary-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
